<div class="container page-wrapper" >
      <div class="form-wrapper contact-form" *ngIf="!sent">
            <div class="form-group">
                  <label for="name">Nome</label>
                  <input [(ngModel)]="contactForm.name" type="text" name="name" id="name">
            </div>
            <div class="form-group">
                  <label for="email">E-mail</label>
                  <input [(ngModel)]="contactForm.email" type="email" name="mail" id="mail">
            </div>
            <div class="form-group">
                  <label for="textarea">Sua Mensagem</label>
                  <textarea [(ngModel)]="contactForm.text" name="message" id="message" rows="5"></textarea>
            </div>
            <div class="button" style="margin-top: 50px" (click)="sendMail()">
                  Enviar!
            </div>
            
      </div>

      <p class="contact-response" *ngIf="sent">Obrigado pelo contato <strong>{{contactForm.name}}</strong>! Enviaremos a resposta assim que possível, se for o caso! :)</p>
      
</div>