<div class="container" style="height: 100%;">
  <div class="about-wrapper">
    <div class="about-image-wrapper">
      <img src="../../../assets/MANIFESTit_logo_alt.png" alt="">
    </div>
    <div class="about-content">
        <p>MANIFESTit é um projeto colaborativo dedicado à relação das pessoas com a moda e suas diversas formas de expressão. Nascido no Instagram, agora tornou-se um espaço maior, no qual a conversa está livre para ir a todos os cantos, sem subestimar como o tema se insere em tantos meios diferentes. </p>
        <p>Com o impacto das redes sociais sobre como marcas, artistas e influencers promovem suas ideias ou a si mesmos, houve uma mudança no modo como as pessoas consomem moda. Assim, buscamos abordar o assunto de uma maneira informal, em uma plataforma onde diversos pontos de vista tenham espaço e onde outros possam interagir com o conteúdo e talvez refletir sobre sua própria relação com a moda. </p>
        <p>O contato com as pessoas na rua por meio das entrevistas e fotografias de street style deixou claro que apesar das particularidades de cada um, os aspectos emocionais por trás do ato de se vestir são muito similares. Nossas experiências podem divergir, mas compartilhamos das mesmas motivações – ao reconhecer as diferenças e valorizar as semelhanças nós podemos desenvolver um entendimento mais empático daqueles que nos rodeiam. Por isso, o projeto conta com uma equipe fixa, mas também com a participação de escritores convidados que trazem para o MANIFESTit olhares diversos que mantêm o diálogo interessante.</p>  
    </div>
  </div>
</div>
