<nav class="navbar">
    <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand navbar-brand-centered"><img src="assets/MANIFESTit_logo.png" class="img-responsive"></div> 
                <button type="button" (click)="toggleNavbar()"  class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" appDropdown>...</button>
            </div>
            <div class="collapse">
                <div class="nav-left-side">
                    <a [routerLink]="['/']" (click)="toggleNavbar()">home</a>
                    <a [routerLink]="['/blog']" (click)="toggleNavbar()">blog</a>
                </div> 
                <div class="nav-right-side">
                    <a [routerLink]="['/about']" (click)="toggleNavbar()">sobre</a>
                    <a [routerLink]="['/contact']" (click)="toggleNavbar()">contato</a>		        
                </div>
            </div>
    </div>
</nav>
