<app-indicator [title]="sectionTitle"></app-indicator>
<div class="street-style-wrapper">
    <img src="../../../../assets/streetstyle/38527799_254081528570872_3104339229824516096_n.jpg" alt="">
    <div class="commentary-wrapper">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt sed massa in venenatis. Nunc pharetra vestibulum arcu et molestie. Nulla facilisi. Donec malesuada nunc sem, a lacinia elit ornare sed. Ut viverra semper sollicitudin. Vestibulum sit amet ultrices tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lacinia orci. Aliquam aliquet erat vel nisi consequat, vel pellentesque leo lobortis. Phasellus pellentesque molestie sem a congue. Proin eget nunc id tellus luctus eleifend et auctor dui. Donec eget dapibus ex. Proin id hendrerit nulla. Pellentesque maximus leo ac magna faucibus euismod. Fusce faucibus vehicula dolor sed sagittis.</p>
    </div>
    <img src="../../../../assets/streetstyle/38527799_254081528570872_3104339229824516096_n.jpg" alt="">
    <div class="commentary-wrapper">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt sed massa in venenatis. Nunc pharetra vestibulum arcu et molestie. Nulla facilisi. Donec malesuada nunc sem, a lacinia elit ornare sed. Ut viverra semper sollicitudin. Vestibulum sit amet ultrices tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lacinia orci. Aliquam aliquet erat vel nisi consequat, vel pellentesque leo lobortis. Phasellus pellentesque molestie sem a congue. Proin eget nunc id tellus luctus eleifend et auctor dui. Donec eget dapibus ex. Proin id hendrerit nulla. Pellentesque maximus leo ac magna faucibus euismod. Fusce faucibus vehicula dolor sed sagittis.</p>
    </div>
</div>