@import './mixins';

.about-wrapper{
    position:relative;
    top: 50px;
    display: flex;
    @include breakPoint('tablet-wide'){
        position: initial;
        flex-direction: column;
    }
    align-items: center;
    .about-content{
        width: 65%;
        p{
            font-size: 1.1em;
        }
    }
    .about-image-wrapper{
        width: 35%;
        @include breakPoint('tablet-wide'){
            width:60%;
        }
        img{
            width: 100%;
        }
    }
}