@import './mixins';

.contact-form{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .form-group{
        width: 50%;
        display: flex;
        margin-top: 5%;
        label{
            width: 30%;
            margin: 0;
        }
        input{
            width: 70%; 
            border: 0;
            margin:0;
            padding: 0;
            border-bottom: 1px solid;
            outline: 0;
            background: transparent;
        }
        textarea{
            width: 70%;
            margin: 0;
            padding: 0;
            border: 0;
            border-bottom: 1px solid;
            outline: 0;
            background: transparent;
        }
        @include breakPoint('phone-wide'){
            flex-direction: column;
            text-align: center;
            width: 100%;
            input{
                width: 100%;
            }
            label{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
        }
    }
    
}
.contact-response{
    
    margin: 0;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
}