@import './mixins';
::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

body{
    font-family: "Open Sans Condensed";
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 60%;

    @include breakPoint(desktop){
        width: 70%;
    }
    @include breakPoint(tablet-wide){
        width: 85%;
    }
    @include breakPoint(tablet-small){
        width: 95%;
    }
    &.container-footer{
        @include breakPoint('phone-wide'){
            width: 100%; 
        }
    }
}

.page-wrapper{
    min-height: calc(100vh - 253px);
    @include breakPoint('tablet-wide'){
        min-height: calc(100vh - 247px);   
    }
    @include breakPoint('phone-wide'){
        min-height: calc(100vh - 110px);   
    }
}
.button{
    color: white;
    width: 25%;
    text-align: center;
    background-color: black;
    text-decoration: none;
    margin: 0 auto;
    padding: 20px;
    transition: all ease-in-out 0.1s;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        border: solid 1px;
    }
}