@import './mixins';

.img-wrapper{
    position: relative;
    width:100%;
    height: 30vw;
    overflow:hidden;
    @include breakPoint('tablet'){
        height: 40vmin;
    }
    img{
        height:100%;
        width:100%;   
    }
    .visible{
        display: block;
    }
    h1{
        
        position: absolute;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        background-color: white;
        color: black;
        z-index: 2;
        left:0;
        right:0;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        height: 15%;
        bottom: 15px;
        font-size: 1.25em;
        font-weight: 200;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        @include breakPoint('phone-wide'){
            width: 20%;
            height: 5%;
        }
        @include breakPoint('tablet'){
            font-size: 0.85em;
        }
        cursor: pointer;
        &:hover{
            opacity: 0.75;
            transform: translateY(20px);
        }
    }
}