@import './mixins';

.section-separator{
    padding: 10% 0 3% 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
        font-style:bold;
        font-size: 2em;
    }
    hr{
        height: 2px;
        border: none;
        color: black;
        background-color: black;
        width: 20%;
        display:inline-block;
        position: relative;
        margin: 0;
    }
    h1{
        font-weight: 300;
        margin-left: 10px;
        display:inline-block;
        font-size: 1.5em;
        @include breakPoint('tablet-wide')
        {
            font-size: 1.25em;
        }
    }
}