//Header
@import './mixins';

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.navbar{
    position: relative;
    margin-top: 5em;
    .collapse{
        text-align: center;
    }
    .nav-right-side, .nav-left-side{
        font-size: 1.25em;
        @include breakPoint('tablet-wide')
        {
            font-size: 0.90em;
        }
        display: inline-flex;
        
        a{
            z-index: 2;
            position:relative;
            color:black;
            margin: 20px;
            text-decoration: none;
            @include breakPoint('phone-wide', min){
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0; right: 0;
                    height: 1px;
                    background-color: black;
                }
                &:before {
                    opacity: 0;
                    transform: translateY(- $distance);
                    transition: transform 0s $easeOutBack, opacity 0s;
                }
                &:after {
                    opacity: 0;
                    transform: translateY($distance/2);
                    transition: transform $duration $easeOutBack, opacity $duration;
                }
                &:hover,
                &:focus {
                    &:before,
                    &:after {
                        color: gray;
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &:before {
                        transition: transform $duration $easeOutBack, opacity $duration;
                    }
                    &:after {
                        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                    }
                }
                
            }
                
        }
        
    }
    .nav-left-side{
        margin-right: 95px;    
    }
    .nav-right-side{
        margin-left: 95px;
        justify-content: flex-end;
    }
    button{
        display: none;
    }
    
    @include breakPoint('phone-wide'){

        margin-top: 0;
        
        .collapse{
           display: none;
           &.open{
               display: block;

               
           }
        }
        button{
            position: relative;
            float: right;
            display: inline-block;
            text-decoration: none;
            background-color: white;
            border: none;
            color: black;
            height:100%;
            width: 50px;
            font-size: 2em;
            vertical-align: middle;
            &:hover{
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
        .nav-right-side, .nav-left-side{
            margin: 0;
            display:flex;
            flex-direction: column;
            height:100%;
            a{
                display:flex;
                justify-content: center;
                align-items: center;
                height:30px;
                margin: 0;
                width:100%;
                background-color: black;
                color: white;
            }
        }
        .navbar-header{
            height: 50px;
        }

    }

}

.navbar-brand-centered {
    position: relative;
    top: 45px;
    left: 50%;
    width: 160px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    img{
        top: 15px;
        right: 100px;
        position: relative;
        width: 100%;
    }

    @include breakPoint('phone-wide'){
        float: left;
        margin: 0;
        top: 0;
        left: 0;
        img{
            top: 0;
            left: 0;
        }
        
    }
}

//Footer
footer{
    padding-top: 10px;
}
.container-footer{
    position: relative;
    font-size: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: black;
    color: gray;
    text-align: center;
}
