$breakpoints: (
    "phone":        400px,
    "phone-wide":   512px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin breakPoint($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@font-face{
    font-family: "Open Sans Condensed";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
}