@import './mixins';

.posts-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 25%;
    
    .post{
        width: 32%;
        overflow: hidden;
        transition: all .2s ease-in-out;

        &:nth-child(1){
            background-color: #2c2b42;
        }
        &:nth-child(2){
            background-color: gold;
        }
        &:nth-child(3){
            background-color: #08232b;
        }
        img{
            width: 100%;
            height: 100%;
        }
        h2{
            font-size: 1em;
            @include breakPoint('tablet-wide', min){
                font-size: 1.25em;
            }
            @include breakPoint('tablet-small'){
                font-size: 0.8em;
            }
            font-weight: 100;
            color: white;
            display:flex;
            align-items: center;
            justify-content: center;
            height: 25%;
            margin: 0;

        }
        
        &:hover{
            transform: scale(0.8);
            cursor: pointer;
            opacity: 0.7;

        }
    }
    
}