@import './mixins';

.street-style-wrapper{
    height: 100%;
    // @include breakPoint('tablet-wide'){
    //     height: 70vh;
    // }
    // @include breakPoint('phone-wide'){
    //     height: 50vh;
    // }

    overflow:hidden;
    position:relative;
    img{
        width: 80%;
        &:nth-child(3){
            margin-top: 10%;
            float:right;
        }
    }
    .commentary-wrapper{
        top: 50%;
        right: 0;
        background-color: #2c2b42;
        color: white;
        position:relative;
        width: 50%;
        padding: 2rem;
        font-size: 1em;
        font-weight: 200;
        margin-top: calc(-10% - 10%);
        float: right;
        @include breakPoint('tablet-wide'){
            width: 50%;
            top: 40%;
            font-size: 1.15em;
        }
        @include breakPoint('phone-wide'){
            width: 80%;
            top: 60%;
            font-size: 0.9em;
        }
        &:nth-child(4){
            right: auto;
            float: left;
            left:0;
        }
    }
    
}