<app-indicator [title]="sectionTitle"></app-indicator>
<div class="posts-wrapper">
    <div class="post" *ngFor="let post of lastThreePosts">
      <h2>{{post.title}}</h2>
      <img [src]="post.src" alt="">
    </div>
</div>