
<div class="container">
  <div class="post-wrapper" *ngFor="let post of displayedPosts">
        <h2>{{post.title}}</h2>
        <div class="author">{{post.author}}</div>
        <p>{{post.body}}</p>
        <hr>
  </div>
  <div class="button" (click)="postsToDisplay()" *ngIf="loadMorePosts">
    Carregar mais posts.
  </div>
</div>